<div class="form-signin">
  <h2 class="form-signin-heading">Please log in</h2>
  <input name='username' type="text" class="form-control" placeholder="User name" ng-model='username' autofocus>
  <input name='password' type="password" class="form-control" placeholder="Password" ng-model='password'>
  <label class="checkbox">
    <input type="checkbox" value="remember-me"> Remember me
  </label>
  <button name='login' class="btn btn-block btn-primary" ng-click='login()'>Log in</button>
  <div>{{loginMessage}} {{firstname}}</div>
</div>
